@import "../../styles/variables";

.filterBar{

  display: flex;
  justify-content: center;
  background-color: $light-blue;


  .container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2.5rem 1rem;

    .search-form{
      display: flex;
      justify-content: center;
      gap: 1rem;

      input{
        max-width: 378px;
        width: 100%;
        padding: .5rem 1rem;
        border-radius: 4px;
        border: 1px solid #DDDDDD;
        background-color: $white-color;

        font-family: $body-font;
        color: $text-color;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;


        &:focus{
          outline: none;
        }
      }
    }

    .text{
      display: flex;
      align-items: center;
      p{
        font-family: $body-font;
        color: $text-color;
        opacity: 0.5;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 34px;
        min-width: 100px;
        margin: 0 2.5rem;
      }

      .line{
        width: 100%;
        height: 1px;
        background-color: #DADAEE;

      }
    }

    .input-container{
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;

      .filter-input{
        flex: 1;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 1rem;

        border-radius: 4px;
        border: 1px solid #141B2D;
        background-color: $white-color;
        cursor: pointer;

        span{
          font-family: $body-font;
          color: $text-color;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 27px;
        }

        @media screen and (max-width: 480px){
          flex: 0 1 auto;
          flex-grow: 1;
        }

        @media screen and (max-width: 768px){
          flex: 0 1 auto;
          flex-grow: 1;

        }

      }

    }



  }
}