@import "../../styles/variables";

.header{
  display: flex;
  justify-content: center;
  padding: 0 20px;

  .container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;


    .header_image{
      display: flex;
      justify-content: flex-end;
      flex: 1;

      img{
        max-width:100%;
        max-height:100%;
      }


      @media screen and (max-width: 1020px){
        display: none;
      }
    }


    .info {
      display: flex;
      flex-direction: column;

      padding: 4rem 0;

      p{
        max-width: 545px;
      }

      .title{
        font-family: $headings-font;
        font-style: normal;
        font-weight: 700;
        font-size: 64.85px;
        line-height: 86px;
      }

      .description{
        font-family: $body-font;
        font-style: normal;
        font-weight: 400;
        font-size: 21.25px;
        line-height: 34px;
        margin: 1rem 0;

      }
      .search_bar-container{
        position: relative;

        .search_bar{
          background-color: $light-blue;
          padding: 1.5rem;
          border-radius: 4px;
          position: absolute;
          display: flex;
          justify-content: space-between;
          gap: 1rem;

          width: 100%;
          min-width: 737px;


          .property_dropdown{
            display: none;
            position: absolute;
            top: 85%;

            list-style: none;
            background-color: $white-color;
            border-radius: 4px;

            max-width: 205px;
            width: 100%;

            border: 1px solid #4764C3;

            li{
              padding: 1rem;
              color: $blue;
              display: flex;
              align-content: center;
              align-items: center;
              gap: 10px;

              input{
                width: 20px;
                height: 20px;
              }
              label{
                font-family: $body-font;
                cursor: pointer;
                width: 100%;
              }

              &:hover{
                color: $text-color;
              }

            }
          }

          .property-type{

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            max-width: 205px;
            width: 100%;
            cursor: pointer;

            border: 1px solid #4764C3;
            border-radius: 4px;
            background-color: $white-color;

            span{
              display: block;
              font-family: $body-font;
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 27px;
              color: $blue;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 108px;
            }

            .arrow-down{
              color: #1C3988;
            }

          }

        }


        .wrapper{
          position: relative;

          width: 100%;

          .icon-container{
            position: absolute;
            padding: 1rem;
            top: 50%;
            transform: translateY(-50%);

            .location-icon{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $blue;
              opacity: 0.35;
            }
          }

          input{
            font-family: $body-font;
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 27px;

            height: 100%;
            padding-left: 2rem;
            width: 100%;
            border: 1px solid #DDDDDD;
            box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;

            &:focus{
              outline: none;
            }

          }


          input:not(:placeholder-shown) + ul{
            display: block;
          }

          ul{
            display: none;
            position: absolute;
            list-style: none;
            background-color: $white-color;
            width: 100%;
            top: 112%;
            border-radius: 4px;
            border: 1px solid #4764C3;

            li{
              font-family: $body-font;
              display: flex;

              a {
                color: $blue;
                width: 100%;
                padding: 1rem;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;


                &:hover{
                  color: $text-color;
                  background-color: $light-blue;
                  border-radius: 4px;

                }

              }

            }
          }
        }

        .search{
          display: flex;
          flex-direction: row;
          padding: 1rem;
          gap: 1em;

          align-items: center;
          max-width: 150px;
          width: 100%;
          border: none;
          background-color: $blue;
          cursor: pointer;
          border-radius: 4px;

          .search-icon{
            color: $white-color;
          }

          span{
            font-family: $body-font;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: $white-color;

          }
        }
      }

    }


    @media screen and (max-width: 768px){
      justify-content: center;

      .search{

        flex: 1;

        span{
          display: none;
        }

      }

      .info{
        .title{
          font-size: 48px;
          line-height: 70px;
        }
        .description{
          font-size: 18px;
        }
        .search_bar-container{

          .search_bar{
            min-width: auto;

            .property-type{
              display: none;
            }
          }

        }

      }


    }
  }
}

